# Papermerge Backend
# export PAPERMERGE__DATABASE__URL=postgresql://postgres:GXawlFvOSfZDOEwZApRmjXnJxeknuBNI@caboose.proxy.rlwy.net:27750/railway
export PAPERMERGE__DATABASE__URL=postgresql://coco:jumbo@127.0.0.1:5433/pmgdb
# export PAPERMERGE__DATABASE__URL=postgresql://testuser:testpass@127.0.0.1:5434/testdb

# Enzo
# export PAPERMERGE__DATABASE__URL=postgresql://coco:jumbo@127.0.0.1:5432/pmgdb
export PAPERMERGE__MAIN__MEDIA_ROOT=$HOME/var/pmgdata
export PAPERMERGE__MAIN__API_PREFIX='/api'
export VITE_AUTH_URL=http://localhost:8001


# Security
export PAPERMERGE__SECURITY__SECRET_KEY=$(openssl rand -hex 32)
export PAPERMERGE__AUTH__USERNAME=admin
export PAPERMERGE__AUTH__PASSWORD=admin

# Emails
export PAPERMERGE__EMAIL__SMTP_HOST=smtp.gmail.com
export PAPERMERGE__EMAIL__SMTP_PORT=587
export PAPERMERGE__EMAIL__SMTP_USERNAME=daylily750@gmail.com
export PAPERMERGE__EMAIL__SMTP_PASSWORD="kggo imds arul onxx"
export PAPERMERGE__EMAIL__SMTP_USE_TLS=false
export PAPERMERGE__EMAIL__SMTP_START_TLS=true
export PAPERMERGE__EMAIL__FROM_ADDRESS=noreply@gensysteam.com

# Papermerge Frontend
export VITE_REMOTE_USER=admin
export VITE_REMOTE_USER_ID=49e78737-7c6e-410f-ae27-315b04bdec69
export VITE_REMOTE_GROUPS=admin
export VITE_BASE_URL=http://localhost:8000
export VITE_KEEP_UNUSED_DATA_FOR=1
export VITE_REMOTE_ROLES=admin


# Ensure media folder exists
mkdir -p "$PAPERMERGE__MAIN__MEDIA_ROOT"