# Papermerge Backend
export PAPERMERGE__DATABASE__URL=postgresql://postgres:KnsWpfvmuGYJfNlXwcGXTfFGIlfBxPFn@turntable.proxy.rlwy.net:21709/railway
# export PAPERMERGE__DATABASE__URL=postgresql://postgres:YseOPkpDoBiWHXHCCummnuNdjLJrRwTJ@turntable.proxy.rlwy.net:35159/railway
export PAPERMERGE__MAIN__MEDIA_ROOT=$HOME/var/pmgdata
export PAPERMERGE__MAIN__API_PREFIX='/api'
export VITE_AUTH_URL=http://localhost:8001


# Security
export PAPERMERGE__SECURITY__SECRET_KEY=$(openssl rand -hex 32)
export PAPERMERGE__AUTH__USERNAME=admin123
export PAPERMERGE__AUTH__PASSWORD=admin123

# Emails
export PAPERMERGE__EMAIL__SMTP_HOST=smtp.gmail.com
export PAPERMERGE__EMAIL__SMTP_PORT=587
export PAPERMERGE__EMAIL__SMTP_USERNAME=daylily750@gmail.com
export PAPERMERGE__EMAIL__SMTP_PASSWORD="kggo imds arul onxx"
export PAPERMERGE__EMAIL__SMTP_USE_TLS=false
export PAPERMERGE__EMAIL__SMTP_START_TLS=true
export PAPERMERGE__EMAIL__FROM_ADDRESS=noreply@gensysteam.com

# Papermerge Frontend
export VITE_REMOTE_USER=admin123
export VITE_REMOTE_USER_ID=49e78737-7c6e-410f-ae27-315b04bdec69
export VITE_REMOTE_GROUPS=admin123
export VITE_BASE_URL=http://localhost:8000
export VITE_KEEP_UNUSED_DATA_FOR=1
export VITE_REMOTE_ROLES=admin123


# Ensure media folder exists
mkdir -p "$PAPERMERGE__MAIN__MEDIA_ROOT"