# Papermerge Backend
export PAPERMERGE__DATABASE__URL=postgresql://coco:jumbo@127.0.0.1:5433/pmgdb
export PAPERMERGE__MAIN__MEDIA_ROOT=$HOME/var/pmgdata
export PAPERMERGE__MAIN__API_PREFIX='/api'


# Security
export PAPERMERGE__SECURITY__SECRET_KEY=$(openssl rand -hex 32)
export PAPERMERGE__AUTH__USERNAME=admin
export PAPERMERGE__AUTH__PASSWORD=admin


# Papermerge Frontend
export VITE_REMOTE_USER=admin
export VITE_REMOTE_USER_ID=49e78737-7c6e-410f-ae27-315b04bdec69
export VITE_REMOTE_GROUPS=admin
export VITE_BASE_URL=http://localhost:8000
export VITE_KEEP_UNUSED_DATA_FOR=1
export VITE_REMOTE_ROLES=admin


# Ensure media folder exists
mkdir -p "$PAPERMERGE__MAIN__MEDIA_ROOT"