.forgotPassword{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: stretch;
  justify-content: center;
  gap: 0;
  padding: 0;
  box-sizing: border-box;
}

.fPLeft {
  flex: 1;
  height: 100%;
  display: flex;
}

.fPLeftImage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fPLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 255, 255, 0.3); */
  background-color: rgba(31, 143, 195, 0.166);
  backdrop-filter: blur(4px);
  z-index: 1;
  pointer-events: none;
}

.fPRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.title {
  /* text-align: center; */
  font-size: 2rem; /* or whatever size you prefer */
  font-weight: 700;
  margin: 0;
}

.subtitle {
  /* text-align: center; */
  color: #868e96; /* Mantine's 'dimmed' */
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

/* Added */
.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submitButton {
  background-color: #007bff;
  width: 100%;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.success {
  color: green;
  margin-bottom: 1rem;
}

/* Back button */
.fpButtonBack {
  margin-top: 1rem;
  color: #007bff;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .forgotPassword {
    flex-direction: column;
  }


  .fPLeft,
  .fPRight {
    width: 100%;
    flex: none;
  }

  .fPLeft {
    height: 20vh; /* or any height you find appropriate for mobile */
  }

  .fPRight {
    padding: 1rem;
  }
}